<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {%- include google_analytics.html -%}
  {%- include gtag_head.html -%}

  <body>

    {%- include gtag_body.html -%}
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="donate">
        {%- include donate.html -%}
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>